doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Bibliothèque
        ul.nav.navbar-nav
          li.active
            a(href='/') Accueil
          li
            a(href="/catalogue/livre") Catalogue
          if(role==="bibliothécaire")
              li
                a(href="/catalogue/livre/addlivre") Ajouter des Livres
              li
                a(href="/catalogue/livre/addExemplaire") Ajouter des Exemplaires
        if(!user)
          .navbar-header.pull-right
            ul.nav.navbar-nav
              li
                a.nav.navbar-nav(href="/login") Se Connecter
              li
                a.nav.navbar-nav(href="/register") S'enregistrer
        else
          .navbar-header.pull-right
            ul.nav.navbar-nav
              li
                a.nav.navbar-nav(href="/login/logout") Se Déconnecter


  block content

  footer.navbar-fixed-bottom.navbar-inverse
    p tout droit réservé
